* {
	box-sizing: border-box;
font-family: helvetica, sans-serif;
margin: 0;
padding: 0;
}


.meal {

background-color: dimgrey;
border: 1px solid #000;
}

.meal p {
	margin-top: 50px;
	padding: 20px;
}

h1 {
	width: 300px;
	padding: 50px;
margin: auto;
}

h2 {
float: right;
clear: both;
margin: 0;
padding: 5px;
border: 1px solid #000;
}

#chicken  {
	background-color: hotpink;
}

#beef  {
		background-color: indianred;
		color: #FFF;
}

#sushi  {
	background-color: lightgoldenrodyellow;
}


@media (min-width: 992px) {
.col-lg-4 {
        float: left;
        padding: 10px;
      }
     
      .col-lg-4 {
        width: 33.33%;
      }
    
}

@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6, .col-md-12 {
        float: left;
        padding: 15px;
      }
      
      .col-md-6 {
        width: 50%;
      }
     
      .col-md-12 {
        width: 100%;
      }
}

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        padding: 15px;
      }
      .col-sm-1 {
        width: 8.33%;
      }
      .col-sm-2 {
        width: 16.66%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-4 {
        width: 33.33%;
      }
      .col-sm-5 {
        width: 41.66%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-7 {
        width: 58.33%;
      }
      .col-sm-8 {
        width: 66.66%;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-10 {
        width: 83.33%;
      }
      .col-sm-11 {
        width: 91.66%;
      }
      .col-sm-12 {
        width: 100%;
      }
}